extends ../layout

block content
  section.container
    .row
        #main.col-md-7.col-lg-8
        aside#c1.col-md-5.col-lg-4
            each component in containers.c1
                include ../switch